# Systemd environment file for the {{.Name}} service

# Command-line options for the {{.Name}} service.
# Run `/usr/bin/{{.Name}} --help` to see all available options.
OTELCOL_OPTIONS="--config=/etc/{{.Name}}/config.yaml"
